.grade-service-question{
    font-size: 18px;
    text-align: center;
}
.grade-service-rates {
    display: flex;
    justify-content: center;
}

.grade-service-rates a {
    margin: 3px;
    padding: 7px 15px;
    background: #5BC0DE;
    color: #fff;
    font-weight: bold;
    border: 1px solid #41BADE;
    box-shadow: 0 0 1px #000;
}

.grade-service-rates a:hover {
    background: #47bcde;
    color: #fff;
}


#grade-service {
    text-align: center;
    padding: 0!important;
}

#grade-service:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

#grade-service .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}