.grade-service-question{
    font-size: 18px;
    text-align: center;
    clear: both;
}
.grade-service-rates {
    display: flex;
    justify-content: center;
}

.grade-service-rates a {
    margin: 3px;
    padding: 4px 7px;
    background: #5BC0DE;
    color: #fff;
    font-weight: bold;
    border: 1px solid #41BADE;
    box-shadow: 0 0 1px #000;
}

.grade-service-rates a:hover {
    background: #47bcde;
    color: #fff;
}

.cm-alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}


.cm-alert-success {
    color: #3c763d;
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
}
#grade-service {
    display:none;
    padding:5px 10px;
    background-color:#fff;
    text-align:center;
    position:fixed;
    bottom:5px;
    right:5px;
    left: 5px;
    z-index:999;
    border: 1px solid #f7f7f7;
    box-shadow: 0 0 2px #aaa;
}

@media screen and (min-width: 768px){
    #grade-service {
        bottom: 10px;
        right: 10px;
        left: inherit;
        width: 480px;
    }
    .grade-service-rates a {
        padding: 7px 15px;
    }
}