.grade-service-question,
.grade-service-rates a{
    font-size: 22px;
}
.grade-service-rates a {
    color: #DAAB0F;
}

#grade-service {
    text-align: center;
    padding: 0!important;
}

#grade-service:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

#grade-service .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}